@charset "utf-8";
table{
	
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left:auto;
	margin-right:auto;
	width:938px;
	height:163px;
	
}

table td{
	
	border: 1px solid #606060;
	text-align:center;
	
}

caption#titulo-avaliacao{
 
	text-align:left;
	
}

div#titulo-principal h1{
	
	width:938px;
	height:163px;
	text-align:center;
	margin: 98px auto 15px auto;

}

table#avaliacao tr{
	
	text-align:center;

}